@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');
/*font-family: 'Cormorant', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');

:root {
  --main-light-color: #ffffff;
  --main-black-color: #000000;
  --main-accent-color: #f28a5d;
  --main-accent-green-color: #32b1a2;
  --main-gray-color: #808786;
  --main-dark-gray-color: #002e28;
}

*,
html {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1540px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

.header__line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #45b9ab;
}

.header__line div {
  font-weight: 700;
  font-size: 16px;
  color: var(--main-light-color);
  margin-left: 20px;
}

.header__line a {
  position: relative;
}

.header__line a::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -31px;
  margin: auto 0;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-light-color);
}

.header__line a {
  text-decoration: underline;
}

.header__main {
  border-bottom: 1px solid rgba(131, 131, 131, 0.25);
}

.header__main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  width: 150px;
  height: 33px;
}

.menu,
.header__btn-list {
  display: none;
}

.header__btn-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 164px;
  height: 60px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
}

.header__btn-list li:first-child {
  margin-right: 35px;
}

.hero__container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px;
}

.title__label {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  margin-left: 60px;
  color: var(--main-accent-green-color);
  margin-bottom: 9px;
}

.title__label::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  maafterrgin: auto 0;
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--main-accent-green-color);
}

.title {
  position: relative;
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.14;
  width: fit-content;
  color: var(--main-dark-gray-color);
  margin-bottom: 27px;
}

.title span {
  position: relative;
}

.title span::after {
  content: '';
  position: absolute;
  right: -7px;
  background-image: url(./images/title-img.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 62px;
  height: 10px;
}

.text__green {
  color: var(--main-accent-green-color);
}

.text__orange {
  color: var(--main-accent-color);
}

.main__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  width: 148px;
  height: 45px;
  box-shadow: 0px 30px 25px 5px rgba(1, 90, 79, 0.1);
  border-radius: 5px;
  margin-bottom: 62px;
}

.btn__green {
  background-color: var(--main-accent-green-color);
  color: var(--main-light-color);
}

.btn__green-border {
  border: 1px solid var(--main-accent-green-color);
  color: var(--main-accent-green-color);
}

.btn__orange {
  background-color: var(--main-accent-color);
  color: var(--main-light-color);
}

.btn__orange-border {
  font-weight: 700;
  border: 1px solid var(--main-accent-color);
  color: var(--main-accent-color);
}

.header__btn-list .btn__orange-border {
  display: none;
  width: 251px;
}

.hero__right-part img {
  width: 325px;
  height: 333px;
  margin: 0 auto;
}

.description,
.forwhat {
  background-color: #F5F8F8;

}

.description__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  padding-top: 65px;
  padding-bottom: 54px;
}

.text__color {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.16;
  color: var(--main-dark-gray-color);
  margin-bottom: 20px;
}

.base__text p {
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-gray-color);
  margin-bottom: 44px;
}

.description__left-part img {
  width: 253px;
  height: 293px;
  margin: 0 auto;
}

.important {
  position: relative;
}

.important__container {
  padding-top: 48px;
  padding-bottom: 90px;


}

.important__container::after,
.consists__container::after,
.tagline__container::after,
.hero__container-inner::after,
.feature__container::after,
.forwhat__container-inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  width: 90%;
  height: 1px;
  background-color: #C8C8C8;

}

.secondary__title {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 35px;
  color: var(--main-dark-gray-color);
  margin-bottom: 45px;
}

.important__container .text__color {
  margin-bottom: 25px;
}

.important__left-part .main__btn {
  display: none;
}

.important__right-part {
  height: 290px;
}

.important__right-part img {
  position: absolute;
  right: 0;
  width: 375px;
  height: 290px;

}

.advantages__container {
  padding-top: 37px;
  padding-bottom: 132px;
}

.advantages__container .secondary__title {
  color: var(--main-accent-green-color);
  text-align: center;
}

.advantages__left-part {
  margin-bottom: 69px;
}

.advantages__left-part img {
  width: 215px;
  height: 234px;
  margin: 0 auto 13px auto;

}

.advantages__container li {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  color: var(--main-black-color);
  margin-bottom: 36px;
}

.advantages__container li:last-child {
  margin-bottom: 0;
}

.advantages__right-part img {
  width: 251px;
  height: 230px;
  margin: 0 auto;
}

.forwhat__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  padding-top: 60px;
}

.forwhat__right-part li,
.visit__left-part li {
  position: relative;
  margin-left: 43px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-dark-gray-color);
  margin-bottom: 40px;
}

.forwhat__right-part li::before,
.visit__left-part li::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -43px;
  margin: auto 0;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.forwhat__right-part li::before {
  background-image: url(./images/Check-green.svg);
}

.forwhat__left-part img {
  width: 286px;
  height: 327px;
  margin: 0 auto;
}

.reviews__container {
  padding-top: 52px;
  padding-bottom: 34px;
}

.reviews__container .title__label {
  margin-bottom: 30px;
}

.reviews__slider-item {
  margin: 0 15px 43px 15px;
}

.reviews__slider-item img {
  width: 31px;
  height: 27px;
  margin-bottom: 30px;
}

.reviews__slider-item .base__text p {
  margin-bottom: 20px;
}

.reviews__slider-item span {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 28px;
  color: var(--main-dark-gray-color);
}

.slick-dots li {
  width: 17px;
  height: 17px;
  margin: 0 3px;
}

.slick-dots li button:before {
  opacity: 1;
  content: "";
  width: 17px;
  height: 17px;
  background-color: var(--main-accent-color);
  border-radius: 50%;
}

.slick-dots li.slick-active button:before {
  width: 9px;
  height: 9px;
  opacity: 1;
  background-color: var(--main-light-color);
  border: 4px solid var(--main-accent-green-color);
}

.banner {
  background-color: var(--main-accent-green-color);
}

.banner__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  padding-top: 55px;
}

.banner__left-part img {
  width: 317px;
  height: 395px;
  margin: 0 auto;

}

.banner__text {
  width: fit-content;
  margin: 0 auto 22px auto;
}

.banner__title {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 0.85;
  color: var(--main-light-color);
  margin-bottom: 31px;
}

.banner__label {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 50px;
  color: var(--main-dark-gray-color);
}

.banner__right-part .text__orange {
  color: #FE6F3A;

}

.banner__right-part img {
  width: 281px;
  height: 96px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.banner_img-right {
  display: none;
}

.consists__container {
  position: relative;
  padding-top: 60px;
  padding-bottom: 66px;
}

.consists__container .secondary__title {
  position: relative;
  width: fit-content;
}

.consists__container .secondary__title::after {
  content: '';
  position: absolute;
  left: 95px;
  background-image: url(./images/title-img.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 71px;
  height: 11px;
}

.consists__container .secondary__title {
  margin-bottom: 51px;
}

.consists__item:not(:last-child) {
  margin-bottom: 23px;
}

.consists__item img {
  width: 144px;
  height: 140px;
  margin-bottom: 7px;
}

.consists__item p {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.16;
  margin-bottom: 6px;
}

.consists__item ul {
  list-style: disc;
  margin-left: 20px;
}

.consists__item li {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-gray-color);
  margin-bottom: 20px;
}

.consists__item li:last-child {
  margin-bottom: 0;
}

.library__container {
  padding-top: 73px;
  padding-bottom: 81px;
}

.library__top-part .secondary__title {
  margin-bottom: 71px;
}

.library__bottom-part ul {
  margin-bottom: 81px;
}

.library__bottom-part li {
  width: 333px;
  margin: 0 auto;
}

.btn__img {
  display: block;
  width: 333px;
  height: 195px;
  background: #F8F8F8;
  border-radius: 10px;
  margin-bottom: 30px;
}

.btn__img img {
  width: inherit;
  height: inherit;

}

.library__bottom-part .main__btn {
  width: 179px;
  margin-bottom: 50px;
}

.library__bottom-part li:last-child .main__btn {
  margin-bottom: 0;
}

.library__btn {
  width: 199px;
  height: 60px;
  margin: 0 auto;
}

.posts__container {
  padding-top: 30px;
  padding-bottom: 113px;

}

.posts__container .secondary__title {
  width: 375px;
  margin-bottom: 53px;
}

.library__bottom-part .base__text {
  display: none;
}

.tagline {
  position: relative;
}

.tagline__container {
  padding-bottom: 86px;
}

.tagline__left-part {
  height: 235px;
  margin-bottom: 75px;

}

.tagline__left-part img {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 235px;

}

.tagline__right-part .secondary__title {
  font-size: 30px;
}

.tagline__right-part .secondary__title {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  font-size: 30px;
}

.tagline__right-part .secondary__title::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-image: url(./images/title-img.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 98px;
  height: 15px;
}

.footer__main {
  background-color: var(--main-accent-green-color);
}

.footer__main-container {
  padding-top: 42px;
  padding-bottom: 60px;
}

.logo__footer {
  width: 221px;
  height: 48px;
  margin-bottom: 20px;
}

.footer__main-content p {
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-light-color);
  opacity: 0.6;
  margin-bottom: 49px;
}

.footer__menu-secondary-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 79px;
}

.footer__menu-secondary-list li {
  font-size: 12px;
  color: var(--main-light-color);
}

.footer__title {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 0.85;
  color: var(--main-light-color);
  margin-bottom: 34px;
}

.footer__menu-list {
  column-count: 2;
  margin-bottom: 78px;
}

.footer__menu-list li {
  position: relative;
  font-size: 16px;
  color: var(--main-light-color);
  margin-left: 33px;
  margin-bottom: 20px;
}

.footer__menu-list li::before {
  content: "";
  position: absolute;
  left: -33px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: block;
  background-image: url(./images/arrowright.svg);
  width: 8px;
  height: 14px;

}

.footer__copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--main-accent-color);
}

.footer__copyright p {
  width: fit-content;
  margin: 0 auto;
  font-weight: 600;
  font-size: 12px;
  color: var(--main-light-color);
  opacity: 0.4;
}


.footer__main-content input {

  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  height: 43px;
  background-color: inherit;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--main-light-color);
}

.footer__main-content label:first-child input {
  margin-bottom: 35px;
}

.footer__main-content input:hover,
.footer__main-content input:focus {
  outline: none;

}

.footer__main-content ::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 12px;
}

.footer__main-content .main__btn {
  width: 100%;
  background-color: var(--main-light-color);
  margin-top: 22px;
  margin-bottom: 0;
}

.mobile__menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 46px;
  border-radius: 5px;
}

.mobile__menu-btn .open {
  display: none;
}

.mobile__menu-btn.active {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--main-accent-color);
}

.mobile__menu-btn.active .open {
  display: flex;
}

.mobile__menu-btn.active .close {
  display: none;
}

.logo__menu {
  display: none;
}

.header__main.active {
  background-color: var(--main-accent-green-color);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.header__main.active .logo__menu {
  display: block;
  width: 178px;
  height: 39px;
}

.header__main.active .logo {
  display: none;

}

.header__line.active {
  background-color: var(--main-accent-color);
}

.mobile__menu-container {
  display: none;
  padding-top: 42px;
  padding-bottom: 76px;
}

.mobile__menu-container.active {
  display: block;
  background-color: var(--main-accent-green-color);
}

.menu.active {
  display: block;
  margin-bottom: 68px;
}

.mobile__menu-container.active li {
  position: relative;
  width: 200px;
  font-weight: 400;
  font-size: 20px;
  color: var(--main-light-color);
  margin-bottom: 25px;
}

.mobile__menu-container.active li:last-child {
  margin-bottom: 0;
}

.menu li:hover,
.menu li:focus {
  font-weight: 600;
  color: var(--main-accent-color);

}

.mobile__menu-container li:hover::after,
.mobile__menu-container li:focus::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  display: block;
  background-image: url(./images/arrowright-orange.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 8px;
  height: 14px;

}

.hero__left-part-inner .title span::after {
  right: -23px;
}

.hero__left-part-inner .base__text p {
  margin-bottom: 20px;
}

.hero__right-part-inner img {
  width: 290px;
  height: 367px;
}

.btn__icon-market {
  margin-bottom: 36px;
  margin-left: -10px;
}

.btn__icon-market img {
  width: 225px;
  height: 77;
}

.btn__icon-market a:last-child {
  display: none;
}

.feature__container {
  position: relative;
  padding-top: 23px;
  padding-bottom: 23px;
}

.feature__container li {
  width: 292px;
  height: 289px;
  padding: 53px 32px 35px 32px;
  text-align: center;
  background: #F5F8F8;
  border-radius: 10px;
  margin: 0 auto;
}

.feature__container li:not(:last-child) {
  margin-bottom: 13px;
}

.feature__container img {
  width: 90px;
  height: 87px;
  margin: 0 auto 36px auto;
}

.feature__title {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 7px;
}

.visit__container {
  padding-top: 54px;
  padding-bottom: 48px;
}

.visit__left-part li::before {
  background-image: url(./images/Check.svg);
}

.visit__right-part img {
  width: 292px;
  height: 217px;
  margin: 0 auto;
}

.forwhat__inner {
  background-color: unset;
}

.forwhat__container-inner {
  position: relative;
  padding-top: 48px;
  margin-bottom: 78px;
}

.banner-inner {
  background-color: #CDF1ED;
  ;
}

.banner-inner .banner__title {
  color: #0E4A44;
}

.content__container {
  padding-top: 59px;
  padding-bottom: 5px;
}

.content__inner:not(:last-child) {
  margin-bottom: 65px;
}

.content__title {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.content__title img {
  width: 49px;
  height: 49px;
  margin-right: 24px;
}

.content__title p {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 30px;
  color: var(--main-accent-green-color);
}

.content__container ul {
  list-style-type: disc;
  padding-left: 21px;
  margin-bottom: 20px;
}


.content__container li {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 22px;
  color: #0E4A44;

}

.content__container li:not(:last-child) {
  margin-bottom: 30px;
}

.content__inner-right-part {
  display: flex;
  justify-content: space-between;
}

.content__inner-right-part img {
  width: 151px;
  height: 330px;
}

@media screen and (min-width: 416px) {
  .consists__container .secondary__title::after {
    right: -23px;
    left: unset;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 110px;
  }

  .hero__left-part {
    width: 50%;
  }

  .main__btn {
    margin-bottom: 0;

  }

  .hero__right-part img {
    position: absolute;
    bottom: 0;
    right: 0;

  }

  .forwhat {
    position: relative;
  }

  .forwhat__container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 1px;
    background-color: #C8C8C8;

  }

  .banner__container {
    padding-top: 80px;
  }

  .banner__text {
    margin-bottom: 83px;
  }

  .banner__title {
    font-size: 95px;
    line-height: 0.94;
    margin-bottom: 30px;
  }

  .banner__label {
    font-size: 90px;

  }

  .banner__right-part img {
    width: 360px;
    height: 123px;
    margin-bottom: 50px;
  }

  .consists__item p {
    min-height: 70px;
  }

  .consists__list {
    display: flex;
    justify-content: space-between;
  }

  .consists__item {
    width: 30%;
    max-width: 334px;
  }

  .consists__item li:last-child {
    margin-bottom: 0;
  }

  .library__top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 73px;
  }

  .library__bottom-part ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .library__bottom-part li {
    margin: 0;
  }

  .library__top-part .secondary__title {
    margin-bottom: 0;
  }

  .library__btn {
    margin: 0;
  }

  .tagline__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tagline__left-part,
  .tagline__right-part {
    width: 45%;
  }

  .tagline__left-part {
    margin-bottom: 0;
  }

  .tagline__right-part .secondary__title {
    margin: 0;

  }

  .footer__main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer__main-content {
    width: 45%;
  }

  .hero__container-inner {
    padding-bottom: 0;
  }

  .hero__left-part-inner .base__text p {
    width: 250px;
  }

  .hero__right-part-inner img {
    position: relative;
  }



  .feature__container li {
    width: 469px;
    height: 464px;
    padding: 85px 52px 56px 52px;
  }

  .feature__container li:not(:last-child) {
    margin-bottom: 30px;
  }

  .feature__container img {
    width: 144px;
    height: 140px;
    margin-bottom: 58px;
  }

  .feature__title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .feature__container .base__text p {
    font-size: 18px;
  }

  .visit__container {
    padding-top: 143px;
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .visit__left-part {
    width: 50%;
  }

  .visit__right-part img {
    width: 350px;
    height: auto;
  }

  .content__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__container .content__inner:nth-child(3) {
    flex-direction: row-reverse;
  }

  .content__inner-left-part,
  .content__inner-right-part {
    width: 48%;
  }
}


@media screen and (min-width: 1024px) {
  body {
    zoom: 0.6;
  }

  .logo {
    width: 318px;
    height: 69px;
  }

  .menu,
  .header__btn-list {
    display: block;
  }

  .menu ul {
    display: flex;
  }

  .menu li {
    font-size: 16px;
    color: var(--main-dark-gray-color);
    margin-right: 42px;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .header__btn-list {
    display: flex;
  }

  .hero__container {
    padding-top: 215px;
    padding-bottom: 238px;
  }

  .hero__left-part {
    width: 50%;
  }

  .title__label {
    font-size: 18px;
    margin-left: 60px;
    margin-bottom: 29px;
  }

  .title {
    font-size: 90px;
    line-height: 1;
    margin-bottom: 41px;
  }

  .title span::after {
    right: 0;
    width: 170px;
    height: 27px;
  }

  .main__btn {
    width: 199px;
    height: 60px;
  }

  .hero__right-part img {
    right: -80px;
    width: 766px;
    height: 794px;
  }

  .description__container {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: inherit;
    padding-top: 83px;
    padding-bottom: 109px;
  }

  .text__color {
    font-size: 43px;
    line-height: 1.23;
    margin-bottom: 59px;
  }

  .base__text p {
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 0;
  }

  .description__left-part img {
    width: 449px;
    height: 519px;
    margin: 0;
  }

  .description__right-part {
    width: 60%;
  }

  .important__left-part .main__btn {
    display: block;
  }

  .important {
    position: relative;
  }

  .important__container {
    display: flex;
    padding-top: 199px;
    padding-bottom: 222px;

  }

  .secondary__title {
    font-size: 56px;
  }

  .important__container .text__color {
    margin-bottom: 70px;
  }

  .important__left-part {
    width: 45%;
  }

  .important__left-part .main__btn {
    display: flex;
  }

  .important__right-part {
    height: 290px;
  }

  .important__right-part img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    width: 943px;
    height: 688px;

  }

  .advantages__container {
    padding-top: 144px;
    padding-bottom: 148px;
  }

  .advantages__container .secondary__title {
    text-align: start;
  }

  .advantages__left-part {
    margin-bottom: 0;
  }

  .advantages__left-part img {
    width: 329px;
    height: 357px;
    margin: 0;
    margin-right: 30px;

  }

  .advantages__container {
    display: flex;
    justify-content: space-between;
  }

  .advantages__left-part,
  .advantages__right-part {
    display: flex;
  }

  .advantages__container .secondary__title {
    margin-bottom: 60px;
  }

  .advantages__container li {
    text-align: start;
    font-size: 33px;
    margin-bottom: 36px;
  }

  .advantages__right-part img {
    width: 404px;
    height: 370px;
    margin: 0;
    margin-right: 7px;
  }

  .forwhat__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: inherit;
    padding-top: 143px;
    padding-bottom: 133px;
  }

  .forwhat__container .secondary__title {
    margin-bottom: 86px;
  }

  .forwhat__right-part li {

    margin-left: 53px;
    font-size: 18px;
    line-height: 1.27;
    margin-bottom: 30px;
  }

  .forwhat__right-part li::before {
    left: -53px;
  }

  .forwhat__left-part {
    width: 50%;
  }

  .forwhat__left-part img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 619px;
    height: 671px;
    margin: 0;

  }

  .forwhat__right-part {
    width: 43%;
  }

  .reviews__container {
    padding-top: 147px;
    padding-bottom: 220px;
  }

  .reviews__container .title__label {
    margin-bottom: 21px;
  }

  .reviews__container .secondary__title {
    margin-bottom: 70px;
  }

  .reviews__slider-item {
    margin-bottom: 111px;
  }

  .banner {
    position: relative;
  }

  .banner__container {
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: inherit;
    padding-top: 128px;
    padding-bottom: 107px;
  }

  .banner__left-part,
  .banner__right-part {
    width: 50%;
  }

  .banner__left-part img {
    position: absolute;
    bottom: 0;
    width: 691px;
    height: 854px;
    margin: 0;
  }

  .banner__text {
    position: relative;
    z-index: 10;
    margin-right: 0;
    margin-left: 0;
  }

  .banner__right-part .text__orange {
    position: relative;
  }

  .banner__right-part .text__orange::after {
    content: '';
    position: absolute;
    left: 0;
    background-image: url(./images/title-img.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 158px;
    height: 29px;
  }

  .banner__right-part img {
    margin: 0;
    margin-bottom: 0;
  }

  .banner_img-right {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  .consists__container {
    padding-top: 165px;
    padding-bottom: 196px;
  }

  .consists__container .secondary__title {
    margin-bottom: 153px;
  }

  .consists__container .secondary__title::after {
    right: -50px;
    left: unset;
    width: 143px;
    height: 23px;
  }

  .consists__item {
    margin-bottom: 0;
  }

  .consists__item img {
    margin-bottom: 22px;
  }

  .consists__item p {
    font-size: 38px;
    line-height: 1.05;
    margin-bottom: 60px;
  }

  .consists__item li {
    font-size: 18px;
    line-height: 1.27;
    margin-bottom: 30px;
  }

  .library__container {
    padding-top: 190px;
    padding-bottom: 208px;
  }

  .library__bottom-part li {
    width: 413px;
  }

  .btn__img {
    width: 413px;
    height: 239px;
    margin-bottom: 56px;
  }

  .library__bottom-part .main__btn {
    margin-bottom: 0;
  }

  .posts__container {
    padding-top: 167px;
    padding-bottom: 188px;

  }

  .posts__container .secondary__title {
    width: 525px;
    margin-bottom: 75px;
  }

  .posts__container .btn__img {
    margin-bottom: 61px;
  }

  .library__bottom-part .base__text {
    display: block;
    margin-bottom: 46px;
  }

  .tagline__container {
    padding-top: 150px;
    padding-bottom: 314px;
  }

  .tagline__left-part {
    height: 235px;
    margin-bottom: 75px;

  }

  .tagline__left-part img {
    position: absolute;
    top: 0;
    left: 0;
    width: 924px;
    height: 601px;

  }

  .tagline__right-part .secondary__title {
    font-size: 30px;
  }

  .tagline__right-part .secondary__title {
    font-size: 56px;
  }

  .tagline__right-part .secondary__title::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-image: url(./images/title-img.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 208px;
    height: 31px;
  }

  .footer__main-container {
    flex-wrap: nowrap;
    padding-top: 70px;
    padding-bottom: 95px;
  }

  .logo__footer {
    width: 330px;
    height: 72px;
    margin-bottom: 71px;
  }

  .footer__main-content {

    width: 22%;
  }

  .footer__main-content:nth-child(2) {
    width: fit-content;
    margin: 0 auto;
  }

  .footer__main-content:last-child {
    width: 35%;
  }

  .footer__main-content p {
    font-size: 16px;
    line-height: 1.56;
    margin-bottom: 136px;
  }

  .footer__menu-secondary-list {
    margin-bottom: 0;
  }

  .footer__menu-secondary-list li {
    font-size: 16px;

  }

  .footer__title {
    text-transform: capitalize;
    margin-bottom: 41px;
  }

  .footer__main-content:last-child .footer__title {
    margin-bottom: 50px;
  }

  .footer__menu-list {
    column-count: 1;
    margin-bottom: 0;
  }

  .footer__menu-list li {
    margin-bottom: 22px;
  }

  .footer__copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--main-accent-color);
  }

  .footer__copyright p {
    width: fit-content;
    margin: 0 auto;
    font-weight: 600;
    font-size: 12px;
    color: var(--main-light-color);
    opacity: 0.4;
  }

  .footer__main-content input {
    font-size: 18px;
    height: 45px;
  }

  .footer__main-content ::placeholder {
    font-size: 18px;
  }

  .footer__main-content .main__btn {
    margin-top: 78px;
  }

  .mobile__menu-btn {
    display: none;
  }

  .hero__container-inner {
    padding-top: 157px;
    padding-bottom: 146px;
  }

  .hero__left-part-inner {
    width: 55%;
  }

  .hero__left-part-inner .title span::after {
    right: -100px;
  }

  .hero__left-part-inner .base__text p {
    width: 379px;
  }

  .hero__right-part-inner img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 541px;
    height: 686px;
  }

  .btn__icon-market {
    display: flex;

  }

  .btn__icon-market a:last-child {
    display: block;
    margin-left: 41px;
  }

  .btn__icon-market img {
    width: 279px;
    height: 88px;
  }

  .feature__container {
    padding-top: 94px;
    padding-bottom: 115px;
  }

  .feature__container ul {
    display: flex;
    justify-content: space-between;
  }

  .visit__container {
    align-items: start;
  }

  .visit__left-part {
    width: 45%;
  }

  .visit__left-part .secondary__title {
    margin-bottom: 65px;
  }

  .visit__right-part img {
    width: 817px;
    height: 608px;
  }

  .forwhat__container-inner {

    padding-top: 0;
    margin-bottom: 258px;
  }

  .banner-inner .banner__left-part img {
    width: 669px;
  }

  .banner-inner .btn__icon-market img {
    width: 360px;
    height: 123px;
  }

  .content__container {
    padding-top: 126px;
    padding-bottom: 80px;
  }

  .content__container .secondary__title {
    margin-bottom: 65px;
  }

  .content__inner:not(:last-child) {
    margin-bottom: 150px;
  }

  .content__title img {
    margin-right: 40px;
  }

  .content__title p {
    font-size: 45px;
  }

  .content__container ul {
    margin-bottom: 50px;
  }

  .content__container li {
    font-size: 28px;
  }

  .content__inner-left-part,
  .content__inner-right-part {
    width: 44%;
  }

  .content__inner-right-part img {
    width: 250px;
    height: 546px;
  }
}


@media screen and (min-width: 1200px) {
  body {
    zoom: 0.7;
  }
}

@media screen and (min-width: 1440px) {
  body {
    zoom: 0.83;
  }
}

@media screen and (min-width: 1700px) {
  body {
    zoom: 1;
  }
}